$bg                   :                    #0BAAD4;
$text                 :       rgba(255,255,255,.7);
$hover                :           darken($bg, 10%);
$backgroundColor      :          rgba(#ffb6c1, .7);
$backgroundColorH     :          rgba(#ff0ff3, .7);


/* * * * * * * ZA Part one * * * * */

/*   color*/
/*Light green */
$colorHeaderBackgroundLight  :                    #7ed56f;
/* MediumGreen */
$colorHeaderBackgroundMedium :                    #55c57a;
/*$DarkGreen */
$colorHeaderBackgroundDark   :                    #28b485;
/*white */
$colorHeaderCaption          :                       #fff;
/*grey */
$colorHeaderButton           :                       #777;
/*grey */
$colorHeaderBackgroundButton :                       #fff;
/*black */
$colorHeaderShadowButton     :                       #000;

$GreyFontColor        :                       #777;


$HeaderHeight         :                       95vh;





