

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 500px;

    align-items: center;
    justify-content: center;

    /*
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
 align-items: flex-end;
    justify-content: space-between;
    justify-content: space-between;*/
    /*default*/

}

.item{
    background-color: #f1425d;
    padding: 40px;
    /*
    margin: 30px;*/
    color: #fff;
    font-size: 40px;
    flex-grow: 1;
}

.i2{
    height: 200px;
}
.i4{
    font-size: 70px;
    align-self: flex-end;
    order:-1;
}



 